@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* CSS for All */
* {
  margin: 0 0;
  padding: 0 0;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
}

body {
  background-image: url('../images/banner-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1%;
}
.img-responsive {
  width: 100%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 16%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}
.img-curve {
  border-radius: 15px;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
/* .text-white {
  color: white;
} */

.clearfix {
  clear: both;
  float: none;
}

a {
  color: #050c4d;
  text-decoration: none;
}
a:hover {
  color: #050c4d;
}

.btn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 16%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}
.btn-primary {
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 16%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}
.btn-primary:hover {
  color: white;
  background-color: #050c4d;
}
h2 {
  color: #2f3542;
  font-size: 2rem;
  margin-bottom: 2%;
}
h3 {
  font-size: 1.5rem;
}
.float-container {
  position: relative;
}
.float-text {
  position: absolute;
  bottom: 50px;
  left: 40%;
}
fieldset {
  border: 1px solid white;
  margin: 5%;
  padding: 3%;
  border-radius: 5px;
}

.error {
  padding: 2%;
  color: red;
}
.success {
  padding: 2%;
  color: green;
}

/* CSSS for navbar section */

.logo {
  margin: 20px;
  width: 10%;
  float: left;
}
.menu {
  line-height: 60px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 16%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}
.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline;
  padding: 1%;
  font-weight: bold;
}

/* CSS for Food SEarch Section */

.food-search {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7% 0;
}

.food-search input[type='search'] {
  width: 80%;
  padding: 1%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.food-search2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7% 0;
}

.food-search2 input[type='search'] {
  width: 50%;
  padding: 1%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

/* CSS for Categories */
.Categories {
  padding: 4% 0;
}

.box-3 {
  width: 28%;
  float: left;
  margin: 2%;
}

/* CSS for Food Menu */
.food-menu {
  padding: 4% 0;
}
.food-menu-box {
  width: 43%;
  margin: 1%;
  padding: 2%;
  float: left;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.food-menu-img {
  width: 20%;
  float: left;
}

.food-menu-desc {
  width: 70%;
  float: left;
  margin-left: 8%;
}

.food-price {
  font-size: 1.2rem;
  margin: 2% 0;
}
.food-detail {
  font-size: 1rem;
  color: #747d8c;
}

/* CSS for Social */
.social ul {
  list-style-type: none;
}
.social ul li {
  display: inline;
  padding: 1%;
}

/* for Order Section */
.order {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 16%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}
.input-responsive {
  width: 96%;
  padding: 1%;
  margin-bottom: 3%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.order-label {
  margin-bottom: 1%;
  font-weight: bold;
}

/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width: 768px) {
  .logo {
    width: 80%;
    float: none;
    margin: 1% auto;
  }

  .menu ul {
    text-align: center;
  }

  .food-search input[type='search'] {
    width: 90%;
    padding: 2%;
    margin-bottom: 3%;
  }

  .btn {
    width: 91%;
    padding: 2%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 16%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  }

  .food-search {
    padding: 10% 0;
  }

  .categories {
    padding: 20% 0;
  }
  h2 {
    margin-bottom: 10%;
  }
  .box-3 {
    width: 100%;
    margin: 4% auto;
  }

  .food-menu {
    padding: 20% 0;
  }

  .food-menu-box {
    width: 90%;
    padding: 5%;
    margin-bottom: 5%;
  }
  .social {
    padding: 5% 0;
  }
  .order {
    width: 100%;
  }
}

/* * ** * ** ** ** ** */
.contact {
  margin: 0 auto;
  width: 40%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/* * * * * * * * */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
textarea,
select,
textarea {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type='submit'] {
  background-color: #03163f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type='submit']:hover {
  background-color: #03163f;
}
/* * * * * * * * */
